#React Storybook stories
stories

#Uncompiled src code
src

#Documentation build
build

#Create react app config
config

#Create react app scripts
scripts

#The documentation build
docs

#Public dir for docs
public

#Editorconfig
.editorconfig

#Yarn
yarn.lock
