#React Storybook stories
stories

#Uncompiled src code
src

#Create react app config
config

#Create react app scripts
scripts

#Documentation build
docs

#Public dir for docs
public

#Editorconfig
.editorconfig

#Yarn
yarn.lock

#Webstorm
.idea
